[Desktop Entry]

# Application details
Name=st
Type=Application
Comment=Suckless Terminal

# Execution details
Exec=st
Terminal=false

# Other
Icon=utilities-terminal

X-Desktop-File-Install-Version=0.23
